@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap");

footer {
    background-color: #b1915d;
    color: #ffffff;
    text-align: center;
    position: relative;
    font-family: "Tajawal";
}

.about-us {
    text-align: right;
}

.footer-overlay h1 {
    margin-top: 0px;
}

.about-us {
    font-size: 20px;
}

.social-icons {
    display: flex;
    gap: 10px;
    left: 0;
    margin-right: 30px;
    margin-bottom: 15px;
}

.social-icons a {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    text-decoration: none;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s;
}

.social-icons a:hover {
    background-color: #312f4c;
    color: #ffffff;
}

/* .social-icons a:nth-child(1) {
    background-color: #312f4c;
    border-color: #312f4c;
} */

.contact-form input,
.contact-form textarea {
    border: 1px solid #ddd;
    font-size: 16px;
    background-color: transparent;
    border-radius: 7px;
}

.contact-form input::placeholder {
    color: #ffffff;
    text-align: start;
}

.contact-form textarea::placeholder {
    color: #ffffff;
    text-align: start;
}

.contact-form h3 {
    text-align: start;
    margin-bottom: 10px;
}

.contact-form .submit-contact {
    background-color: #312f4c;
    color: #ffffff;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
}

@media (max-width: calc(768px)) {
    .social-icons {
        justify-content: center;
        margin-bottom: 15px;
        margin-right: 0px;
    }

    .form-control {
        margin-top: 5px;
    }
}

@media (max-width: calc(480px)) {
    .social-icons {
        justify-content: center;
        margin-bottom: 15px;
        margin-right: 0px;
    }

    .form-control {
        margin-top: 5px;
    }
}
