@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap");

footer {
    background-color: #B1915D;
    color: #FFFFFF;
    text-align: center;
    position: relative;
    font-family: "Tajawal";
}

.about-us {
    text-align: left;
}


.footer-overlay h1{
    margin-top:0px;
}

.about-us {
    font-size: 20px;
}



.social-icons {
    display: flex;
    gap: 10px;
    left: 0;
    margin-left: 30px;
    margin-bottom: 15px;
}

.social-icons a {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    text-decoration: none;
    color: #FFFFFF;
    transition: background-color 0.3s, color 0.3s;
}

.social-icons a:hover {
    background-color: #312F4C;
    color: #FFFFFF;
}

.social-icons a:nth-child(1) {
    background-color: #312F4C;
    border-color: #312F4C;
}



.contact-form input,
.contact-form textarea {

    border: 1px solid #ddd;
    font-size: 16px;
    background-color: transparent;
    border-radius: 7px;

}

.contact-form input::placeholder {
    color: #ffffff;
    text-align: start;

}

.contact-form textarea::placeholder {
    color: #ffffff;
    text-align: start;

}

.contact-form h3 {
    text-align: start;
    margin-bottom: 10px;
}

.contact-form .submit-contact {
    background-color: #312F4C;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
}


@media (max-width: calc(768px)) {
    .social-icons {
        justify-content: center;
        margin-bottom: 15px;
        margin-right: 0px;

    }

    .form-control {
        margin-top: 5px;
    }
}

@media (max-width: calc(480px)) {
    .social-icons {
        justify-content: center;
        margin-bottom: 15px;
        margin-right: 0px;
    }

    .form-control {
        margin-top: 5px;
    }
}