.elite-tower {
    background: linear-gradient(359.32deg, rgba(49, 47, 76, 0) 49.89%, #B1915D 99.36%);
    opacity: 0.8;
    padding: 50px 0;
    color: #fff;
  
  }
  
  .elite-tower h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #312F4C;
  
  }
  
  .elite-tower p {
    font-size: 25px;
  }
  
  .card {
    overflow: hidden;
    position: relative;
    height: 280px;
  }
  
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .card:hover img {
    transform: scale(1.1);
  }
  
  .card-img-overlay {
    background: rgba(0, 0, 0, 0.774);
    text-align: center;
    transition: background 0.3s ease;
  }
  
  .card:hover .card-img-overlay {
    background: rgba(0, 0, 0, 0.7);
  }
  
  .card-text {
    font-size: 1.1rem;
    font-weight: bold;
    color: #fff;
  }
  
  
 
  
  
  
  
  
  .tower-design {
    background: linear-gradient(to top,
        rgba(49, 47, 76, 0.9) 0%,
        rgba(102, 102, 102, 0) 100%),
      url('/website/img/tower-design.jpeg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .tower-design h2 {
    font-size: 70px;
    font-weight: bold;
    color: #fff;
    font-family: 'Tajawal', sans-serif;
  }
  
  .tower-design h3 {
    font-size: 30px;
    color: #fff;
    font-family: 'Cairo', sans-serif;
  }
  
  .tower-design p {
    font-size: 1.3rem;
    color: #fff;
    line-height: 1.8;
    font-family: 'Cairo', sans-serif;
  
  }
  
  .feature-card {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
    display: flow-root;
  }
  
  .feature-text {
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    line-height: 1.8;
    font-family: 'Tajawal', sans-serif;
  }
  
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .feature-divider {
    height: 100%;
  }