.hero {
  background: linear-gradient(
      rgba(30, 30, 30, 0.9), 
      rgba(30, 30, 30, 0.9)
    ),
    url('/website/img/tower-design.jpeg') no-repeat center center/cover;
  max-height: 130vh; 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;
}

.hero-content h2 {
  margin-top: 50px;
  font-size: 3.3rem;
  font-weight: bold;
  color: #fff;
  font-family: 'Tajawal', sans-serif;
}
  
  .hero-content h3 {
    font-size: 1.3rem;
    color: #fff;
    font-family: 'Cairo', sans-serif;
  }
  
  .form-container {
    background-color: #fff;
    border-radius: 20px; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    padding: 30px; 
  }
  
  .form-container .form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
  }
  
  .form-container .btn-gold {
    background-color: #c4a657;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .form-container .btn-gold:hover {
    background-color: #b3944e;
  }
  
  .large-btn {
    width: 250px; 
    height: auto;
    padding: 15px 0; 
    font-size: 1.2rem; 
  }
  
  @media (max-width: 768px) {
    .hero-content h2 {
      font-size: 40px; 
    }
  
    .hero-content h3 {
      font-size: 20px; 
    }
  
    .form-container {
      max-width: 100%;
      padding: 20px; 
    }
  
    .form-container .form-control {
      font-size: 0.9rem; 
      padding: 8px; 
    }
  
    .large-btn {
      width: 100%; 
      font-size: 1rem; 
    }
    .hero{
      height: 80vh;
    }
  }
  