.inquery {
  background: linear-gradient(
      rgba(30, 30, 30, 0.9), 
      rgba(30, 30, 30, 0.9)
    ),
    url('/website/img/inquery.jpeg') no-repeat center center/cover;

  display: flex;
  justify-content: center;
  align-items: center; 
  flex-direction: column;

}

.inquery-content h2 {
  margin-top: 50px;
  font-size: 3.3rem;
  font-weight: bold;
  color: #fff;
  font-family: 'Tajawal', sans-serif;
}

.inquery-content h3 {
  font-size: 1.3rem;
  color: #fff;
  font-family: 'Cairo', sans-serif;
}

.form-container {
  background-color: transparent;
  border-radius: 20px; 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  max-width: 519px; 
  width: 519px; 
  margin: 0 auto;
  padding: 30px; 
}

.form-container .form-control {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  background-color: transparent;
  color: #ffffff;


}

.form-container .btn-gold {
  background-color: #c4a657;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.form-container .btn-gold:hover {
  background-color: #b3944e;
}

.large-btn {
  width: 100%; 
  height: auto;
  font-size: 1.2rem; 
}


.form-container input{

  border: 1px solid #ddd;
  font-size: 16px;
  background-color: transparent;
  border-radius: 7px;
  color: #ffffff;

}
.lang-icon{
  margin-left: 65vw;
}
.navbar .dropdown-menu-inquery{
  left: -65vw;
}
.form-container input::placeholder {
  color: #ffffff;
  text-align: start;

}

.form-container  textarea::placeholder {
  color: #ffffff;
  text-align: start;

}
@media (max-width: 768px) {
  .inquery-content h2 {
    font-size: 40px; 
  }

  .inquery-content h3 {
    font-size: 20px; 
  }

  .form-container {
    max-width: 100%;
    padding: 20px; 
  }

  .form-container .form-control {
    font-size: 0.9rem; 
    padding: 8px; 
  }

  .large-btn {
    width: 100%; 
    font-size: 1rem; 
  }
  .inquery{
    height: 100vh;
  }
}
